* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    overflow-y: hidden;
    overflow-x: hidden;
}

body{
    background-image: url(/Img/background.jpeg);
    background: no-repeat;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFEF6;
    padding: 20px 40px;
    border-bottom: 1px solid #e0e0e0;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 100%;
    height: auto;
}

.botoes-centro {
    display: flex;
    gap: 20%;
}

.botoes-centro button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 288px;
    height: 60px;
}

.botoes-centro button:hover {
    cursor: pointer;
    transition-duration: 0.4s;
    border: 2px solid #1A1A1A;
    background-color: #d16943;
}

.conta-botoes {
    display: flex;
    gap: 20px;
    align-items: center;
}

.conta-opcao {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    width: 50%;
    height: 50%;
    margin-bottom: 2%;
}

.trocarConta, .sairConta {
    background-color: black;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    text-align: center;
}

.trocarConta:hover{
    cursor: pointer;
    transition-duration: 0.4s;
    border: 2px solid #1A1A1A;
    background-color: #d16943;
}

.sairConta:hover{
    cursor: pointer;
    transition-duration: 0.4s;
    border: 2px solid #1A1A1A;
    background-color: #d16943;
}

.foto1{
    position: absolute;
    width: 50%;
    height: 65%;
    border-radius: 10%;
    margin-left: 26%;
    margin-top: 4%;
}
